<!DOCTYPE html>
<html>
	<head>  
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/javascripts/article_edit.js"></script>
		<title><%=pageObject.config.title%></title>
		<%if(typeof(pageObject.config.css)==="object"){%>
			<%for(var i=0; i<pageObject.config.css.length; i++){%>
				<link rel="stylesheet" type="text/css" href="<%=pageObject.config.css[i]%>">
			<%}%>
		<%}%>
		<%if(typeof(pageObject.config.js)==="object"){%>
			<%for(var i=0; i<pageObject.config.js.length; i++){%>
				<script type="text/javascript" src="<%=pageObject.config.js[i]%>"></script>
			<%}%>
		<%}%>
		<script type="text/javascript">
			var SCPagePath = "<%-pagePath%>";
			var SCPageConfig = <%-JSON.stringify(pageObject.config)%>;
		</script>
	</head>
<body>
	
	<div id="upload-modal" class="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Add Image</h3>
				</div>
				<form id="image-upload-form" action="/upload" method="post" enctype="multipart/form-data">
					<div>
						You can upload from your computor.
					</div>
					<div>
						<input type="file" name="uploadimage" />
					</div>
					<div>
						<input type="button" class="btn btn-primary" value="Upload" onClick="uploadImage()"/>
					</div>
				</form>
				<div>
					Also you can set image url.
				</div>
				<div>
					<input type="text" id="image-url-field"/>
					<input type="button" class="btn" value="set" onClick="applyNewImageUrl()"/>
				</div>
				<hr>
				<div>
					<center>
					<div>you choosed this.</div>
					<div><img id="choosed-image" src="" width="100"/></div>
					</center>
				</div>
				<div class="modal-footer">
					<input class="btn btn-primary" value="Add This Image" onClick="addNewImageComponent()"></input>
				</div>
			</div>
		</div>
	</div>
	
<div id="link-modal" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Set Link</h3>
	</div>
	<div>
		<input type="text" id="link-setting-field"/>
		<input type="button" class="btn" value="set" onClick="setLinkToSelection()"/>
	</div>
</div>

<ul class="list-group" style="position:fixed; top:50px; right:-4px;">
    <a class="list-group-item" href="#">Config</a>
    <a class="list-group-item" onclick="appendComponent('title')">Add Title</a>
    <a class="list-group-item" onclick="appendComponent('content')">Add Text</a>
    <a class="list-group-item" href="#upload-modal" role="button" data-toggle="modal">Add Image</a>
    <a class="list-group-item" onclick="saveComponents()">Just Save</a>
    <a class="list-group-item" onclick="publishComponents()">Publish</a>
</ul>
	
<div id="editspace" class="container">
	<%for(index=0; index<pageObject.components.length; index++){%>
	<%var component = pageObject.components[index]%>
		<%if(component.type==='title'){%>
			<h3><div class="page-header component component-title" contenteditable=true><%-component.value%></div></h3>
		<%}else if(component.type==='image'){%>
			<center><img class="component component-image" src="<%-component.value%>" href="<%-component.value%>"/></center>
		<%}else{%>
			<div class="component component-content" contenteditable=true><%-component.value%></div>
		<%}%>
	<%}%>
</div>
<div class="container">
	<hr>
	you can use pictures and texts on this site as you like.
</div>
</body>
</html>