<!DOCTYPE html>
<html>
	<head>  
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%=pageObject.config.title%></title>
		<%if(typeof(pageObject.config.css)==="object"){%>
			<%for(var i=0; i<pageObject.config.css.length; i++){%>
				<link rel="stylesheet" type="text/css" href="<%=pageObject.config.css[i]%>">
			<%}%>
		<%}%>
		<%if(typeof(pageObject.config.js)==="object"){%>
			<%for(var i=0; i<pageObject.config.js.length; i++){%>
				<script type="text/javascript" src="<%=pageObject.config.js[i]%>"></script>
			<%}%>
		<%}%>
	</head>
<body>
<div class="container">
<%for(index=0; index<pageObject.components.length; index++){%>
	<%var component = pageObject.components[index]%>
	<%if(component.type==='title'){%>
		<h3><div class="page-header component component-title"><%-component.value%></div></h3>
	<%}else if(component.type==='image'){%>
		<img class="component component-image" src="<%-component.value%>" href="<%-component.value%>"/>
	<%}else{%>
		<div class="component component-content"><%-component.value%></div>
	<%}%>
<%}%>
</div>
<div class="container">
	<hr>
	you can use pictures and texts on this site as you like.
</div>
</body>
</html>